@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700');

html body {
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
    color: #D66A6A

}

/*------------Nav---------------*/


.navbar  {
    color: #D66A6A
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 500;   
}

.navbar-light .navbar-nav .nav-link {
 color: #D66A6A;
 font-size: 24px
}

.navbar-brand {
    color: #D66A6A !important;
    text-transform: uppercase;
    letter-spacing: 5px ;
    font-size: 72px;
    font-weight: 500;
    line-height: 108px
}

/*------------Landing page image---------------*/

.main-image {background: url("../images/heroimage.jpg")no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  max-width: 100%

}

.introduction {
    width:100%;
    max-width: 100%;
    position: absolute
}